* {
    padding: 0;
    margin: 0;
}

.main-app {
    width: 100vw;
    height: 100vh;
    /* background-color: #1D1E22; */
}

@import url('https://fonts.cdnfonts.com/css/oswald-4');

/*TOP PAGE*/

.top-page{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100vw;
    height: 100vh;
}

.top-page::before{
    content: '';
    background-image: url('./assets/bela-paisagem-de-arte-japonesa-com-arvores-sacura-em-flor-e-ia-gerada-por-fuji_536572-1042.avif');
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    filter: blur(5px);
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.first-card{
    display: flex;
}

.left-first-card{
    flex: 1;
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: right;
}

.left-card{
    background-color: rgba(29, 30, 34, 0.7);
    width: 30vw;
    height: 70vh;
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.right-first-card{
    flex: 1;
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}

/* SECOND CONTAINER */

.second-container{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    background-color: #1D1E22;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.card-second-container{
    background-color: rgba(85, 85, 85, 0.7);
    width: 80vw;
    height: 50vh;
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* THIRDY CONTAINER */

.thirdy-container{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    background-color: #32343a;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}